<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <!--  引入配置文件 -->
  <properties resource="mysql.properties"/>

  <!--  注意顺序，settings environments 等这些的位置是存在先后顺序的 -->
  <settings>
    <setting name="callSettersOnNulls" value="true"/>
    <setting name="cacheEnabled" value="true"/>
    <setting name="lazyLoadingEnabled" value="true"/>
    <setting name="aggressiveLazyLoading" value="true"/>
    <setting name="multipleResultSetsEnabled" value="true"/>
    <setting name="useColumnLabel" value="true"/>
    <setting name="useGeneratedKeys" value="false"/>
    <setting name="autoMappingBehavior" value="PARTIAL"/>
    <setting name="defaultExecutorType" value="SIMPLE"/>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="localCacheScope" value="SESSION"/>
    <setting name="jdbcTypeForNull" value="NULL"/>
  </settings>

  <typeAliases>
    <!--    自定的数据库连接池配置 -->
    <typeAlias type="com.demo.config.DruidDataSourceFactory" alias="DRUID"/>
  </typeAliases>

  <environments default="mysql-druid">
    <environment id="mysql-druid">

      <!-- 配置数据库连接信息 -->
      <transactionManager type="JDBC"/>
      <!-- value属性值引用db.properties配置文件中配置的值 -->
      <dataSource type="DRUID">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>

        <!-- 配置初始化大小、最小、最大 -->
        <property name="initialSize" value="${druid.initialSize}"/>
        <property name="minIdle" value="${druid.minIdle}"/>
        <property name="maxActive" value="${druid.maxActive}"/>
        <!-- 配置从连接池获取连接等待超时的时间 -->
        <property name="maxWait" value="${druid.maxWait}"/>

        <property name="testOnBorrow" value="${druid.testOnBorrow}"/>
        <!-- 设置往连接池归还连接时是否检查连接有效性，true时，每次都检查;false时，不检查 -->
        <property name="testOnReturn" value="${druid.testOnReturn}"/>
        <!-- 设置从连接池获取连接时是否检查连接有效性，
          true时，如果连接空闲时间超过minEvictableIdleTimeMillis进行检查，否则不检查;
          false时，不检查-->
        <property name="testWhileIdle" value="${druid.testWhileIdle}"/>

        <!-- 配置间隔多久启动一次DestroyThread，对连接池内的连接才进行一次检测，单位是毫秒。
            检测时:1.如果连接空闲并且超过minIdle以外的连接，如果空闲时间超过minEvictableIdleTimeMillis设置的值则直接物理关闭。2.在minIdle以内的不处理。-->
        <property name="timeBetweenEvictionRunsMillis" value="${druid.timeBetweenEvictionRunsMillis}"/>

        <!-- 检验连接是否有效的查询语句。
          如果数据库Driver支持ping()方法，则优先使用ping()方法进行检查，否则使用validationQuery查询进行检查。
          (Oracle jdbc Driver目前不支持ping方法)-->
        <property name="validationQuery" value="${druid.validationQuery }"/>

        <!-- 打开后，增强timeBetweenEvictionRunsMillis的周期性连接检查，
          minIdle内的空闲连接，每次检查强制验证连接有效性.
          参考：https://github.com/alibaba/druid/wiki/KeepAlive_cn-->
        <property name="keepAlive" value="${druid.keepAlive}"/>

      </dataSource>
    </environment>
  </environments>

  <!-- mybatis的mapper文件，每个xml配置文件对应一个接口 -->
  <mappers>
    <!--   指定mapper路径 -->
    <package name="com.demo.dao"/>
  </mappers>


</configuration>
